.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slideInLeft {
  animation: slide-in-left 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.my_btn {
  display: block;
  width: 300px;
  height: 100px;
  background-image: url(/assets/img/button.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
}

.showMenu {
  transform: translateY(0);
  visibility: visible;
}

.hideMenu {
  transform: translateY(-100%);
  visibility: hidden;
}

.hideNav {
  transform: translateY(-76px);
}

header nav {
  height: 76px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  transition: transform 0.2s ease;
}
header nav #navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  text-transform: uppercase;
}
header nav #navbar .logo {
  height: 130%;
  display: flex;
  align-items: center;
}
header nav #navbar .logo img {
  height: 100%;
  margin-right: 5px;
}
header nav #navbar .logo span {
  font-weight: bolder;
  font-size: 1.6rem;
}
header nav #navbar .menu {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
}
header nav #navbar .menu ul.inline_menu li {
  position: relative;
  display: inline-block;
  list-style: none;
  margin-left: 35px;
}
header nav #navbar .menu ul.inline_menu li a {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
header nav #navbar .menu ul.inline_menu li a.link::after {
  width: 100%;
  height: 1px;
  display: block;
  content: "";
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
header nav #navbar .menu ul.inline_menu li a.link:hover::after {
  transform: scaleX(1);
}
header nav #navbar .menu ul.inline_menu li.with_dropdown div.open a.dropit i {
  transition: transform 250ms ease-in-out;
}
header nav #navbar .menu ul.inline_menu li.with_dropdown div.open a.dropit i.rotate {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari e Chrome */
}
header nav #navbar .menu ul.inline_menu li.with_dropdown div#dropdown {
  position: absolute;
  background-color: #000;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  display: none;
}
header nav #navbar .menu ul.inline_menu li.with_dropdown div#dropdown ul.list li {
  display: block;
  padding: 3px 14px;
  margin-left: 0px;
}
header nav #navbar .menu ul.inline_menu li.with_dropdown div#dropdown ul.list li a {
  text-transform: uppercase;
}
header nav #navbar .menu ul.inline_menu li.with_dropdown div#dropdown ul.list li a:hover {
  border-bottom: 1px solid #fff;
}
header nav #navbar .menu ul.inline_menu li.with_dropdown div#dropdown.show {
  display: block;
}
header nav #navbar .menu ul.hamburger_menu {
  position: fixed;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #000;
  color: #fff;
  list-style: none;
  padding-top: 4rem;
  padding-top: 180px;
}
header nav #navbar .menu ul.hamburger_menu li {
  text-align: center;
  padding-bottom: 20px;
  background: #000;
}
header nav #navbar .menu ul.hamburger_menu li a {
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 5px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
header nav #navbar .menu ul.hamburger_menu li a::after {
  width: 100%;
  height: 1px;
  display: block;
  content: "";
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
header nav #navbar .menu ul.hamburger_menu li a:hover::after {
  transform: scaleX(1);
}
header nav #navbar .menu div.hamburger {
  position: fixed;
  z-index: 100;
  padding: 4px;
  border: #000 solid 1px;
  cursor: pointer;
}
header nav #navbar .menu div.hamburger i.my_hamburger:hover, header nav #navbar .menu div.hamburger i.my_closed:hover {
  cursor: pointer;
  color: #FDCF32;
}
header nav #navbar .menu div.hamburger i.my_closed {
  display: none;
}

#jumbotron {
  width: 100%;
  height: 615px;
  background-color: #FDCF32;
  opacity: 0.9;
}
#jumbotron a {
  display: block;
  width: 100%;
  height: 100%;
}
#jumbotron a figure {
  position: relative;
  height: 100%;
  background-image: url(/assets/img/pattern.png);
  background-repeat: repeat;
  overflow: hidden;
}
#jumbotron a figure video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  visibility: visible;
}
#jumbotron a figure figcaption {
  z-index: 2;
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 95%;
}
#jumbotron a figure figcaption div {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#jumbotron a figure figcaption div img {
  height: 200px;
}

#skills {
  display: flex;
  justify-content: 25%;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  background-color: #000;
}
#skills .skill {
  position: relative;
  flex-basis: 25%;
  height: 100%;
  color: #fff;
}
#skills .skill:nth-child(1) {
  border-right: 1px solid #fff;
  background-image: url(/assets/img/interfacce-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#skills .skill:nth-child(2) {
  border-right: 1px solid #fff;
  background-image: url(/assets/img/web-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#skills .skill:nth-child(3) {
  border-right: 1px solid #fff;
  background-image: url(/assets/img/social-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#skills .skill:nth-child(4) {
  background-image: url(/assets/img/formazione-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#skills .skill div {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#skills .skill div h2 {
  width: 100%;
  margin-bottom: 15px;
}
#skills .skill div h2::before {
  display: block;
  content: "//";
  width: 18px;
  height: 31px;
  margin-bottom: 15px;
  margin-left: 10px;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
#skills .skill div h2 span {
  width: 100%;
  font-weight: lighter;
  font-size: 1.2rem;
}
#skills .skill div h2 strong {
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 20px;
}
#skills .skill div p.text {
  display: none;
  margin-top: 30px;
  text-transform: uppercase;
  line-height: 1.6;
}
#skills .skill:hover {
  cursor: pointer;
  background: #000;
}
#skills .skill:hover .text {
  display: block;
}

#main_sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 0 6%;
}
#main_sponsor .sponsor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: #fff;
}
#main_sponsor .sponsor img {
  width: 25%;
  height: 80%;
}
#main_sponsor .sponsor img:hover {
  -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}

#portfolio {
  background-color: #fff;
}
#portfolio h2 {
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  line-height: 1.8;
}
#portfolio ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
#portfolio ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 500px;
  position: relative;
}
#portfolio ul li a {
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
}
#portfolio ul li a figure {
  position: relative;
  width: 100%;
  height: 100%;
}
#portfolio ul li a figure img {
  height: 70%;
  -webkit-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  -moz-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  -ms-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  -o-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  transition: transform 0.2s ease;
}
#portfolio ul li a figure img::after {
  background-image: url(/assets/img/view.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}
#portfolio ul li a figure img:hover {
  transform: scale(0.8);
  opacity: 0.8;
}
#portfolio ul li a figure figcaption {
  margin: 0 auto;
  width: 80%;
  height: 30%;
}
#portfolio ul li a figure figcaption h2 {
  font-size: 0.9rem;
  margin-left: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#portfolio ul li a figure figcaption p,
#portfolio ul li a figure figcaption h2 {
  text-align: left;
}
#portfolio ul li span {
  display: none;
  position: absolute;
  bottom: 10%;
  text-transform: uppercase;
  color: #FDCF32;
  font-weight: bolder;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 1px 1px 5px #000;
  background-color: rgba(0, 0, 0, 0.219);
}

#about {
  background-image: url(/assets/img/pattern.png);
  background-repeat: repeat;
  background-color: #FDCF32;
  padding: 5%;
}
#about .scroll-element, #about figure > img {
  -webkit-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  -moz-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  -ms-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  -o-clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
  clip-path: polygon(40px 0, calc(100% - 40px) 0%, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0% calc(100% - 40px), 0% 40px);
}
#about .scroll-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
#about .scroll-container .scroll-element {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}
#about .scroll-container .scroll-element figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#about .scroll-container .scroll-element figure img {
  width: 100%;
  max-width: 450px;
  margin-right: 50px;
}
#about .scroll-container .scroll-element figure figcaption {
  width: 100%;
  letter-spacing: 2px;
  padding: 1%;
}
#about .scroll-container .scroll-element figure figcaption h4, #about .scroll-container .scroll-element figure figcaption h2 {
  margin-bottom: 20px;
}
#about .scroll-container .scroll-element figure figcaption h2 {
  font-size: 1.6rem;
}
#about .scroll-container .scroll-element figure figcaption h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
}
#about .scroll-container .scroll-element figure figcaption p {
  line-height: 1.5;
  padding: 2%;
}

#lateral_title {
  position: fixed;
  top: 450px;
  left: -40px;
  z-index: 800;
  margin: 0 auto;
  max-width: 1930px;
  transform: rotate(270deg);
}
#lateral_title:hover span {
  color: #FDCF32;
}
#lateral_title:hover span::after {
  background: #FDCF32;
}
#lateral_title span {
  font-size: 1em;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
#lateral_title span::after {
  position: absolute;
  top: 8px;
  left: 135px;
  width: 110px;
  height: 1px;
  display: block;
  content: "";
  background: #fff;
  box-shadow: 1px 1px 5px #000;
}

/* ************************************************* */
/* *******     M E D I A    Q U E R I E S   ******** */
/* ************************************************* */
@media all and (max-width: 600px) {
  nav {
    padding: 0px 20px;
  }
  nav #navbar .menu ul.inline_menu {
    display: none;
  }
  nav #navbar .menu ul.hamburger_menu {
    display: block;
  }

  #jumbotron a figure figcaption div img {
    height: 140px;
  }

  #skills .skill {
    flex-basis: 100%;
    border-top: 1px solid #fff;
    max-height: 250px;
  }
  #skills .skill:nth-child(1) {
    border-right: 0px;
  }
  #skills .skill:nth-child(2) {
    border-right: 0px;
  }
  #skills .skill:nth-child(3) {
    border-right: 0px;
  }
  #skills .skill:nth-child(4) {
    border-right: 0px;
  }
  #skills .skill:hover p.text {
    display: none;
  }

  #main_sponsor {
    margin-top: 500px;
  }

  #portfolio ul li {
    width: 100%;
  }
  #portfolio ul li a figure img {
    height: 100%;
  }
  #portfolio ul li a figure figcaption {
    display: none;
  }
  #portfolio ul li span {
    display: block;
  }

  #about .scroll-container .scroll-element figure {
    flex-direction: column;
    text-align: center;
  }
  #about .scroll-container .scroll-element figure img {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media all and (min-width: 601px) and (max-width: 750px) {
  nav {
    padding: 0px 20px;
  }
  nav #navbar .menu ul.inline_menu {
    display: none;
  }
  nav #navbar .menu ul.hamburger_menu {
    display: block;
  }

  #skills .skill {
    flex-basis: 50%;
    height: 255px;
    border-top: 1px solid #fff;
  }
  #skills .skill div h2 span {
    font-size: 1rem;
  }
  #skills .skill div h2 strong {
    font-size: 1.1rem;
  }
  #skills .skill:nth-child(2) {
    border-right: 0px;
  }
  #skills .skill:nth-child(4) {
    border-right: 0px;
  }
  #skills .skill:hover p.text {
    display: none;
  }

  #portfolio ul li {
    width: 100%;
  }

  #about .scroll-container .scroll-element figure {
    text-align: center;
    flex-direction: column;
  }
  #about .scroll-container .scroll-element figure img {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media all and (min-width: 751px) and (max-width: 940px) {
  nav {
    padding: 0px 20px;
  }
  nav #navbar .menu ul.inline_menu {
    display: none;
  }
  nav #navbar .menu ul.hamburger_menu {
    display: block;
  }

  #skills .skill {
    flex-basis: 50%;
    height: 295px;
    border-top: 1px solid #fff;
  }
  #skills .skill:hover p.text {
    display: none;
  }
  #skills .skill:nth-child(2) {
    border-right: 0px;
  }

  #main_sponsor {
    margin-top: 90px;
  }

  #portfolio ul li a figure img {
    height: 60%;
  }
}
@media all and (min-width: 941px) and (max-width: 999px) {
  nav {
    padding: 0px 50px;
  }
  nav #navbar .menu ul.inline_menu {
    display: block;
  }
  nav #navbar .menu ul.hamburger_menu {
    display: none;
  }
  nav #navbar .menu div.hamburger {
    display: none;
  }
}
@media all and (min-width: 1000px) and (max-width: 1199px) {
  nav {
    padding: 0px 50px;
  }
  nav #navbar .menu ul.inline_menu {
    display: block;
  }
  nav #navbar .menu ul.hamburger_menu {
    display: none;
  }
  nav #navbar .menu div.hamburger {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  nav {
    padding: 0px 50px;
  }
  nav #navbar .menu ul.inline_menu {
    display: block;
  }
  nav #navbar .menu ul.hamburger_menu {
    display: none;
  }
  nav #navbar .menu div.hamburger {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
